@charset "utf-8";
/* CSS Document */
html ,body {
	margin: 0px;	
}
#mainframe {
	width:100%;
}
#header{
	margin:0px auto 0px auto; 
	width:95%;
	max-width:950px;
	height:130px;
}
#logo-contain{
	width:100%;
	height:105px;
	float:left;
	clear:both;
}
#logo{
	background-image:url(../images/logo.png);
	width:222px;
	height:49px;
	float:left;
	margin-top:28px;
}
#topsearchbox{
	margin-left: 20px;
	float:left;
	width:50%;
	min-width:100px;
	max-width:458px;
	height:35px;
	margin-top:35px;
}
#checkout{
	background-image:url(../images/checkoutpic.png);
	width:207px;
	height:84px;
	float:right;
	margin-top:10.5px;
}
#menubar{
	width:100%;
	height:50px;
	float:left;
	background-color:#22323f;
	border-radius:5px;
}
#banner{
	height:380px;
	width:100%;
	background-image:url(../images/banner1.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#000;
}
#maincontainer{
	width:95%;
	margin: 50px auto 0px auto;
	max-width:950px;
}
.headtext1{
	font-family:Arial;
	font-size:30px;
	color:#444444;
	margin-bottom:40px;
}
#boxcontainer{
	width:100%;
	height:100%;
}
.moviebox{
	width:153px;
	height:300px;
	margin-bottom:10px;
	float:left;
	margin-left:2px;
}
.boxstyle{
	width:100%;
	height:100%;
	text-align:center;
	transition: all 0.2s ease-out;
}

.boxstyle:hover{
	margin-top:-6px;
	background-color:#f2f2f2;
	border-radius:5px;
	text-align:center;
}
.pic1style{
	display:inline-block;
	margin-top:7px;
	
}

/* css for menubar */

.clearfix:after {
    display:block;
    clear:both;
}
.menu-wrap {
    width:100%;
}
.menu {
    width:100%;
    margin:0px auto;
}
.menu li {
	list-style: none;
	margin-bottom: 0px;
	margin-left: -40px;
	margin-right: 40px;
}
.menu a {
	transition: all linear 0.15s;
	color: #FFFFFF;
}
.menu li:hover >  a {
	text-decoration: none;
	color: #de9f3e;
}
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
	
}
.menu > ul > li > a {
	display: inline-block;
	padding-bottom: 12px;
	padding-right: 30px;
	padding-top: 15px;
	margin-top: -16px;
	padding-left: 30px;
	text-decoration: none;
}
.menu > ul > li:hover > a, .menu > ul > a {
    background:#000;
}
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background:#22323f;
	
}
.sub-menu li {
	display: block;
	font-size: 16px;
	margin-left: 5px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
	text-decoration: none;
}
 

















