@charset "utf-8";
/* CSS Document */
html ,body {
	margin: 0px;	
}
#mainframe {
	width:100%;
}
#header{
	margin:0px auto 0px auto; 
	width:95%;
	max-width:950px;
	height:130px;
}
#logo-contain{
	width:100%;
	height:105px;
	float:left;
	clear:both;
}
#logo{
	background-image:url(../images/logo.png);
	width:222px;
	height:49px;
	float:left;
	margin-top:28px;
}
#topsearchbox{
	margin-left: 20px;
	float:left;
	width:50%;
	min-width:100px;
	max-width:458px;
	height:35px;
	margin-top:35px;
}
#checkout{
	background-image:url(../images/checkoutpic.png);
	width:207px;
	height:84px;
	float:right;
	margin-top:10.5px;
}
#menubar{
	width:100%;
	height:50px;
	float:left;
	background:#a7cfdf;
	background:-moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a));
	background:-webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
	background:-o-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
	background:-ms-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
	background:linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );

}
